<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CF_Album_BG51@2x.png</string>
	<string>CF_Album_BG52@2x.png</string>
	<string>CF_Album_BG53@2x.png</string>
	<string>CF_Album_BG54@2x.png</string>
	<string>CF_Album_BG55@2x.png</string>
	<string>CF_Album_BG56@2x.png</string>
</array>
</plist>
